/* color palette
#354458 darkblue
#3A9AD9	lightblue
#29ABA4	green
#E9E0D6	very ligth brown
#EB7260	orange


*/

body{
	text-align: center;
	background: #E9E0D6;
}

i {
	color:black;
}

#logobig{
	height:20em;
}

/* color stuff */
header{
	background: #29ABA4;
}

footer{
	color:#f2f2f2;
}
main .jumbotron{
	background: #EB7260;
	border-radius: 0px;
}

.black-button{
	color:black;
	background-color: #b3b3b3;
}

footer .container-fluid{
	background: #354458;
}

header .row .col-sm-3 img{
	float: left;
	padding: 0px;
	padding-top:0.5em;
	height: 7em;
}

header .buttons{
	margin-top: 1em;
	float: right;
	margin-left: 2em;
}

header button{
	margin:1em;
}

header .row h1{
	font-family: "Ubuntu";
	font-size: 6em;

}

main .btn-primary{
	margin-top:3em;
	font-size: 1.5em;
}

main .col-sm-1{
	position: relative;
}
.socialmedia{
	float:right;
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-bottom: -3em;
}

.description{
	margin: 3em;
	font-size: 1.3em;

}


.features{
	margin-bottom: 5em;
	margin-top: 3em;
}

.features i{
	font-size:8em;
	margin:.25em;
}


footer{
	background: #E9ECEF
}

footer .left{
	margin-top: 0.3em;
	text-align: left;
}

footer .middle{
	margin-top: 2em;
}

footer .right{
	margin-top: 2em;
}
footer button{
	margin: 1em
}