/*colors:
header: #29ABA4 blue
textboxes: #9ca191 grey brown
first body: #E9E0D6 light brown
second body: #c0a78c darker brown
footer: #354458;
;


*/

header{
	height: auto;
	background: #29ABA4;
	padding-bottom: 0%;
}

header div{
	display: inline-block;
}

header .left{
	float: left;
	width:20%;
}

header .middle{
	width: 58%;
	font-family: 'Lato','Sans-serif';
	font-size: 2em;
}

header .right{
	width: 20%;
}


header .right button{
	font-size: 1.2em;
	margin: 1em;
}
header img{
	width: 45%;
	height: auto;
	float: left;
	margin: 1em;
}

body{
	text-align: center;
	background: #E9E0D6;
	font-size: 1.1em;
	font-family: 'Ubuntu','Sans-serif';
}

main .top{
	display: inline-block;
}
main .top .description{
	margin-top: 5em;
	margin-left:2.5em;
	margin-bottom: 4em;
	border: 3px #8c8c8c solid;
	border-radius: 5px;
	background-color:  #9ca191;
	float: left;
	width: 27.5%;
	padding-left: 1em;
	padding-top:1em;
	padding-right: 1em;
	padding-bottom: 1em;
	font-size: 1.3em;
}

main .top .picture img{
	width: 300px;
	float:left ;
	margin-bottom: 2em;
	padding-top: 4.5em;
	padding-left: 3.5em;
	padding-right: 2em;
}

main .top .description1{
	margin-top: 5em;
	margin-bottom: 3em;
	margin-right: 3em;
	margin-left: 1em;
	border: 3px #8c8c8c solid;
	background-color:  #9ca191;
	border-radius: 5px;
	float: right;
	width: 25%;
	padding-left: 2em;
	padding-top:2em;
	padding-right: 2em;
	padding-bottom: 2.5em;
	font-size: 1.3em;
}

main .top .started button{
	
	padding: 15px 32px;
	font-size: 1.5em;
	background-color: #9ca191;
	font-family: 'Lato','Sans-serif';
	margin-left:1em;
	margin-bottom: 1em;
}

main .socialmedia{
	margin-right: 2em;
}

main .features{
	margin-top: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #c0a78c;
}

main .features .content1{
	display: inline-block;
	float: left;
	width: 27.5%;
	margin-left: 3em;
}

main .features .content2{
	display: inline-block;
	margin-right: 2em;
	width: 27.5%;
}

main .features .content3{
	
	display: inline-block;
	width: 27.5%;
	margin-bottom: 2em;
}

main .features i{
	font-size:8em;
	margin:.25em;
}

footer .right ul{
	list-style-type: none;
}

footer{
	clear: left;
	background:#354458;
	color: #f2f2f2;
	padding-bottom: 3%;
}

footer div{
	display: inline-block;

}

footer .left{
	width:30%;
	float: left;
}

footer .left .content{
	float: left;
}

footer .middle{
	width: 38%;
}

footer .middle button{
	margin-top: 2em;
	margin-left: 1em;
	font-size: 1.2em;
}

footer .right{
	width:30%;
	float: right;
}

footer .right .leftelement{
	float: left;
	width: 49%
}


footer .right .rightelement{
	float: right;
	width: 49%;
}

footer .right li{
	padding-top: 0.8em;
}