/* Color palette
darkblue:#558C89;
lightblue:#74AFAD;
orange:#D9853B;
grayish:#ECECEA;



*/
body{
	background:#74AFAD;
	font-family: 'Lato';
	color: #595959; 
}

header, main, footer {
  min-width: 99%;
  overflow:hidden;
  height: auto;
}

main .container, header .container, footer .container{
	max-width: 99%;
	margin: 0px;
	text-align:center;
}

header {
	border-bottom: 1px solid black;
}

header .top .left{
	display: inline-block;
	min-width: 25%;
	max-width: 25%;
	
}

header .top .middle{
	display: inline-block;
	min-width: 50%;
	max-width: 50%;
	
}
header .top .right{
	display: inline-block;
	min-width: 24%;
	max-width: 24%;
}

header .description .left{
	display: inline-block;
	min-width: 33%;
	max-width: 33%;
	
}

header .description .middle{
	display: inline-block;
	min-width: 33%;
	max-width: 33%;
	
}
header .description .right{
	display: inline-block;
	min-width: 33%;
	max-width: 33%;
}

header .getStarted{
	text-align: center;
}

header .socialMedia{
	float:right;
}

main{
	background:#558C89; 
}
main .title{
	text-align: center;
}

main .feature1{
	display: inline-block;
	min-width: 25%;
	max-width: 25%;
	text-align: center;
	margin-left: 5%;
}
main .feature2{
	display: inline-block;
	min-width: 39%;
	max-width: 39%;
	text-align: center;
}
main .feature3{
	display: inline-block;
	min-width: 25%;
	max-width: 25%;
	text-align: center;
	margin-right: 5%;
}

main {
	border-bottom: 1px solid black;
}

footer .left{
	display: inline-block;
	min-width: 25%;
	max-width: 25%;
	text-align: left;
}

footer .middle{
	display: inline-block;
	min-width: 49%;
	max-width: 49%;
}

footer .right{
	display: inline-block;
	min-width: 25%;
	max-width: 25%;
}

footer .right li{
	list-style-type: none;
	display:inline-block;
	width: 49%;
	margin-top:0px;
}

footer .right a{
	text-decoration: none;
	color: darkred;
}

