header{
	height: auto;
	background: #29ABA4;
	padding-bottom: 0%;
}

header div{
	display: inline-block;
}

header .left{
	float: left;
	width:20%;
}


header .middle{
	width: 58%;
	font-family: 'Lato','Sans-serif';
	font-size: 2em;
}

header .right{
	width: 20%;
}


header .right button{
	font-size: 1.2em;
	margin: 1em;
}
header img{
	width: 45%;
	height: auto;
	float: left;
	margin: 1em;
}

body{
	text-align: center;
	background: #E9E0D6;
	font-size: 1.1em;
	font-family: 'Ubuntu','Sans-serif';
}

main .today{
	display: inline-block;
}

main .today h2{
	margin-right: 10em;
}
main .today button{
	background-color: #c0a78c;
	border: 3px #8c8c8c solid;
	border-radius: 5px;
	float:left;
	width:15%;
	margin-top: 0.8em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 1em;
}

main .today button:hover{
	background-color: #ede6de;
}

main .today .first{
	margin-top: 1.5em;
	margin-left:3em;
	margin-bottom: 2em;
	border: 3px #8c8c8c solid;
	border-radius: 5px;
	background-color:  #9ca191;
	float: left;
	width: 25.5%;
	padding-left: 1em;
	padding-top:1em;
	padding-right: 1em;
	padding-bottom: 0em;
	font-size: 1.2em;
}

main .today .first p{
	font-size: 2em;
}

main .today .second{
	margin-top: 1.5em;
	margin-left:3em;
	margin-bottom: 2em;
	border: 3px #8c8c8c solid;
	border-radius: 5px;
	background-color:  #9ca191;
	float: left;
	width: 25.5%;
	padding-left: 1em;
	padding-top:1em;
	padding-right: 1em;
	padding-bottom: 0em;
	font-size: 1.2em;
}

main .today .second p{
	font-size: 2em;
}

main .today .third{
	margin-top: 1.5em;
	margin-left:3em;
	margin-bottom: 2em;
	border: 3px #8c8c8c solid;
	border-radius: 5px;
	background-color:  #9ca191;
	float: left;
	width: 25.5%;
	padding-left: 1em;
	padding-top:1em;
	padding-right: 1em;
	padding-bottom: 0.7em;
	font-size: 1.2em;
	
}

main .today .third li{
	list-style-type: none;
}

main .overall .fourth{
	margin-top: 1em;
	margin-left:9em;
	margin-bottom: 4em;
	border: 3px #8c8c8c solid;
	border-radius: 5px;
	background-color:  #9ca191;
	float: left;
	width: 27.5%;
	padding-left: 1em;
	padding-top:1em;
	padding-right: 1em;
	padding-bottom: 1em;
	font-size: 1.2em;
	list-style-type: none;
}

main .overall .fourth li{
	list-style-type: none;
}

main .overall .fifth{
	margin-top: 1em;
	margin-left:6em;
	margin-bottom: 4em;
	border: 3px #8c8c8c solid;
	border-radius: 5px;
	background-color:  #9ca191;
	float: left;
	width: 27.5%;
	padding-left: 1em;
	padding-top:1em;
	padding-right: 1em;
	padding-bottom: 1em;
	font-size: 1.2em;
	list-style-type: none;
}

main .overall .fifth li{
	list-style-type: none;
}

main .overall{
	display: inline-block;
}

footer .right ul{
	list-style-type: none;
}

footer{
	clear: left;
	background: #354458;
	color: #f2f2f2;
	padding-bottom: 3%;
}

footer div{
	display: inline-block;

}

footer .left{
	width:30%;
	float: left;
}

footer .left .content{
	float: left;
}

footer .middle{
	width: 38%;
}

footer .middle button{
	margin-top: 2em;
	margin-left: 1em;
	font-size: 1.2em;
}

footer .right{
	width:30%;
	float: right;
}

footer .right .leftelement{
	float: left;
	width: 49%
}


footer .right .rightelement{
	float: right;
	width: 49%;
}

footer .right li{
	padding-top: 0.8em;
}