/* color palette
background: #FCD0A1 lightbrown
			#443742	black?
			#DD1C1A red
			#846C5B brown
			#F0C808 yellow



*/

/* other colors
	white text: #f2f2f2;
*/
#addDialog{
	display: none;
	background: orange;
	border: 1px solid black;

}

.fa{
	cursor: pointer;
}

body{
	text-align: center;
	background: #FCD0A1;
	font-size: 1.1em;
	font-family: 'Ubuntu','Sans-serif';
}


header{
	height: auto;
	background: #DD1C1A;
	padding-bottom: 0%;
}

header div{
	display: inline-block;
}

header .left{
	float: left;
	width:20%;
}

header .middle{
	width: 58%;
	font-family: 'Lato','Sans-serif';
	font-size: 2em;
}

header .right{
	width: 20%;
}

header .right button{
	font-size: 1.2em;
	margin: 1em;
}
header img{
	width: 45%;
	height: auto;
	float: left;
	margin: 1em;
}

main .dates ul{
	list-style-type: none;
	border-bottom: 1px solid black;
}

main .dates li{
	display: inline-block;
	width: 7.8%;
	margin-right: 0.8em;
}

main .dates #plus{
	font-size:3em;
}

main .habit{
	clear: left;
}

main .habit ul{
	list-style-type: none;
}

main .habit li{
	display: inline-block;
	max-width: 10%;
	min-width: 10%;
	background: #846C5B;
	
	padding: 0.1em;
	margin-right: 1em;
}

main .habit .info p{
	display: inline-block;
	margin-right: .5em;
}

main .habit .info{
	float: left;
	width: 15%;
}

main .habit .percentage{
	float: right;
	margin-top: -4em;
	margin-right: 6em;
}

main .habit .boxes{
	width: 90%;
}

main .habit .icons{
	float: right;
	width: 5%;
	margin-top: -2em;
	font-size: 2em;
}


footer .right ul{
	list-style-type: none;
}

footer{
	clear: left;
	background: #443742;
	color: #f2f2f2;
	padding-bottom: 3%;
}

footer div{
	display: inline-block;

}

footer .left{
	width:30%;
	float: left;
}

footer .left .content{
	float: left;
}

footer .middle{
	width: 38%;
}

footer .middle button{
	margin-top: 2em;
	margin-left: 1em;
	font-size: 1.2em;
}

footer .right{
	width:30%;
	float: right;
}

footer .right .leftelement{
	float: left;
	width: 49%
}


footer .right .rightelement{
	float: right;
	width: 49%;
}

footer .right li{
	padding-top: 0.8em;
}