/*colors:
#29ABA4 blue/greenish
#FCD0A1 brownish


*/

header{
	height: auto;
	background: #23908a;
	padding-bottom: 0%;
}

header div{
	display: inline-block;
}

header .left{
	float: left;
	width:20%;
}

header .middle{
	width: 58%;
	font-family: 'Lato','Sans-serif';
	font-size: 2em;
}

header .right{
	width: 20%;
}


header .right button{
	font-size: 1.2em;
	margin: 1em;
}
header img{
	width: 45%;
	height: auto;
	float: left;
	margin: 1em;
}

body{
	text-align: center;
	background: #FCD0A1;
	font-size: 1.1em;
	font-family: 'Ubuntu','Sans-serif';
}

main .top{
	display: inline-block;
}
main .top .description{
	float: left;
	width: 27.5%;
	padding-left: 4em;
	padding-top:7em;
	font-size: 1.3em;
}

main .top .picture img{
	width: 300px;
	float:left ;
	padding-top: 5em;
	padding-left: 6em;
	padding-right: 6em;
}

main .top .description1{
	float: left;
	width: 25%;
	padding-top: 8.5em;
	padding-left: 1em
	padding-right: 9em;
	font-size: 1.3em;
	padding-bottom: 7em;
}

main .top .started button{
	padding: 15px 32px;
	font-size: 1.5em;
	background-color: #29ABA4;
	font-family: 'Lato','Sans-serif';
}

main .socialmedia fa-twitter-square fa-2x{
	background-color: #1dcaff;
}

footer .right ul{
	list-style-type: none;
}

footer{
	clear: left;
	background: #6fdcd7;
/*	color: #f2f2f2;*/
	padding-bottom: 3%;
}

footer div{
	display: inline-block;

}

footer .left{
	width:30%;
	float: left;
}

footer .left .content{
	float: left;
}

footer .middle{
	width: 38%;
}

footer .middle button{
	margin-top: 2em;
	margin-left: 1em;
	font-size: 1.2em;
}

footer .right{
	width:30%;
	float: right;
}

footer .right .leftelement{
	float: left;
	width: 49%
}


footer .right .rightelement{
	float: right;
	width: 49%;
}

footer .right li{
	padding-top: 0.8em;
}