<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Dates</h1>
        <ul>
            <% habits.forEach(function(habit){ %>
            <li><%= habit.name %></li>

            <%})%>
        </ul>
    </body>
</html>